*{margin:0; padding:0; box-sizing:border-box;}

a{ display:block; text-decoration: none; color:#333; }

li { list-style: none;}

img{ width:100%; display:block; pointer-events : none; }

body { font-family: 'Noto Sans KR', sans-serif; /*background:rgb(239, 239, 239);*/ -webkit-touch-callout:none; }

/*.wrapper*/


.wrapper {width:100%; max-width:1400px; padding-top:140px; margin:0 auto;  }

.wrapper .pagetit { text-align: center; }

.content .content_wrap { width:100%; margin-top:5rem; }

/*-----공통 css------*/